*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    
}
.headerBox{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}
.headerBox h1{
    font-family: sans-serif;
    font-size: 24px;
}
.headerBox span{
    color: #B49C73;
}

nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    gap: 30px;
    color: gray;
    cursor: pointer;
}
ul :hover{
    color: black;

}
